<div class="ml-2" style="margin-top:100px;">

    <% if @active %>
      <h3>Your active bookings</h3>

      <div class="d-flex justify-content-end" style="width: 90vw;">
        <% if @previous %>
          <%= link_to 'previous bookings', bookings_previous_bookings_path, class: "btn btn-info mr-5", style: "color: white" %>
        <% end %>

        <% if @guest == false %>
        <%= button_to 'back', bookings_owner_cars_path, class: "btn btn-dark mr-5", style: "color: white" %>
        <% end %>
      </div>

      <div class="mb-5" style="max-width: 500px;">
        <% @bookings.each do |booking| %>
          <%= render 'active_bookings', {booking: booking, guest: @guest, car_id: @car.id} %>
        <% end %>
      </div>

    <% else %>

      <% if @active2 == false %>
        <h3>You have no active bookings</h3>

        <div class="d-flex justify-content-end" style="width: 90vw;">
          <% if @previous %>
          <%= link_to 'previous bookings', bookings_previous_bookings_path(@car), class: "btn btn-info", style: "color: white" %>
          <% end %>

          <% if @guest == false %>
          <%= button_to 'back', bookings_owner_cars_path, class: "btn btn-dark", style: "color: white" %>
          <% end %>
        </div>
      <% end %>

    <% end %>

    <% if @active2 %>
      <h3>Your previous bookings</h3>

      <div class="d-flex justify-content-end" style="width: 90vw;">
      <% if @guest == false %>
        <%= button_to 'back', bookings_owner_cars_path, class: "btn btn-dark", style: "color: white" %>
      <% end %>
      </div>


      <div class="mb-5" style="max-width: 500px;">
        <% @bookings.each do |booking| %>
          <%= render 'non_active_bookings', {booking: booking, guest: @guest} %>
          <br>
        <% end %>
      </div>

    <% end %>

</div>
