<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>



    <div class="background-image">

      <div class="" style="">

          <div class="home-buttons row d-flex justify-content-around">

              <%= render 'form' %>
              <%= semantic_form_for @booking, url: '/cars/index' do |f| %>
              <%= f.actions do %>
                <%= f.inputs do %>

            <div class="">
                <%= f.action :submit, :button_html => { :value => 'Find a car',
                  class: "btn btn-lg btn-info d-flex align-items-center justify-content-center",
                    style: "width: 220px; height: 80px; font-size: 25px; color: white;", label: 'kbjrafc' }  %>
            </div>
            <div class="">
            <%= f.input :date_from, as: :date_picker %>
            <%= f.input :date_to, as: :date_picker %>
            </div>

                  <% end %>
                <% end %>
              <% end %>



            <div class="">
              <% if user_signed_in? %>
                <% if current_user.cars.first %>
                  <%= link_to 'List another car', new_car_path,
                    class: "btn btn-lg btn-info d-flex align-items-center justify-content-center",
                    style: "width: 220px; height: 80px; font-size: 25px; color: white;" %>
                  <% else %>
                  <%= link_to 'List my car', new_car_path,
                    class: "btn btn-lg btn-info d-flex align-items-center justify-content-center",
                    style: "width: 220px; height: 80px; font-size: 25px; color: white;" %>
                <% end %>
              <% else %>
                <%= link_to 'List my car', new_car_path,
                  class: "btn btn-lg btn-info d-flex align-items-center justify-content-center",
                  style: "width: 220px; height: 80px; font-size: 25px; color: white;" %>
              <% end %>
            </div>

          </div>
          <div class="row">
          </div>
      </div>
    </div>

    <div class="info-section p-3">

      <a name="how-it-works"></a>

      <div class="">
        <h1 class="text-center">How it Works</h1>
      </div>

      <div class="mx-lg-5 mt-5">

        <div class="d-flex justify-content-around mb-5">
          <h2 class="text-center text-muted">Renting</h2>
          <h2 class="text-center text-muted">Listing</h2>
        </div>
        <div class="d-flex justify-content-around mb-5">
          <div class="card border-info" style="max-width: 17rem;">
            <div class="card-body">
              <h5 class="card-title">Find the perfect car</h5>
              <p class="card-text text-info">Enter your trip dates or simply view all cars by leaving them blank.<br>
                Select cars from the map to view their details.<br>
                Finalise your dates and proceed to checkout.</p>
            </div>
          </div>
          <div class="card border-info" style="max-width: 17rem;">
            <div class="card-body">
              <h5 class="card-title">List your car</h5>
              <p class="card-text text-info">Sign up and enter your car details.<br>
                Respond to bookings.<br>
                Liase with guests to arrange pick up.</p>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-around mb-5">
          <div class="card border-info" style="max-width: 17rem;">
            <div class="card-body">
              <h5 class="card-title">Pick up the car</h5>
              <p class="card-text text-info">Liase with the owner to arrange pick up.<br>
                Walk around the car, grab the keys and drive off into the sunset knowing you're covered for damaged and roadside assist.</p>
            </div>
          </div>
          <div class="card border-info" style="max-width: 17rem;">
            <div class="card-body">
              <h5 class="card-title">Meet your guests</h5>
              <p class="card-text text-info">Enter the odometer reading on your app.<br>
                Hand over the keys and send them on their way.</p>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-around mb-5">
          <div class="card border-info" style="max-width: 17rem;">
            <div class="card-body">
              <h5 class="card-title">Return the car</h5>
              <p class="card-text text-info">Replace the fuel you used and meet up with the car owner to drop off the car.<br>
                Walk around the car again, handover the keys and start planning your next adventure.<br>
                Receive an email confirming final payment.</p>
            </div>
          </div>
          <div class="card border-info" style="max-width: 17rem;">
            <div class="card-body">
              <h5 class="card-title">Pick up your car</h5>
              <p class="card-text text-info">Meet up your guest again to make sure everythings ok and send them them on their way.<br>
                Enter the odometer reading on your app.<br>
                Receive an email confirming final payment.</p>
            </div>
          </div>
        </div>

      </div>

      <hr>
      <h2 class="text-center">Pricing</h2>
      <div class="d-flex justify-content-center" style="margin: auto;">
        <div class="" style="width: 700px;">
          <h5>Price per day</h5>
          <p>Set by the lister and applied to the number of days selected by the renter when booking, resulting in the initial booking charge.</p>
          <h5>Price per kilometer (km)</h5>
          <p>Set by the lister and applied to the number of km's travelled by the renter.</p>
          <p>The lister enters the odometer reading into the app when the renter picks up the car and again when the car is returned, generating the final charge.</p>
        </div>
      </div>
      
      <hr>
      <h2 class="text-center">Payments</h2>
      <div class="d-flex justify-content-center" style="margin: auto;">
        <div class="" style="width: 700px;">
          <p>To book a car Guests are required to pay the daily rate, or price per km, for the booking period. We hold this amount until the booking is concluded.<br>
            The booking is concluded when the owner submits the final odometer reading. At that point we charge the final payment to the guest's credit card and process payment to the owner.</p>
        </div>
      </div>

      <hr>
      <h2 class="text-center">Insurrance</h2>
      <div class="d-flex justify-content-center" style="margin: auto;">
        <div class="" style="width: 700px;">
          <p>We have a third party agreement with one of Australia's largest insurrance providers, providing comprehensive cover for all vehicles during the booking period.</p>
          <h5>Guests</h5>
          <p>A guest is a person who's details are registered to the booking. Only the guest is covered however, additional guests can be registered.</p>
          <p>If you (the guest) have an accident and it's your fault, your liability is limited to a standard excess of $500,00.</p>
          <h5>Owners</h5>
          <p>The owner is not covered by the policy. Generally they would have their own insurrance policy which would prevail.</p>
       </div>
      </div>

      <hr>
      <h2 class="text-center">How we earn a buck</h2>
      <div class="d-flex justify-content-center" style="margin: auto;">
        <div class="" style="width: 700px;">
          <p>We take a fixed $0.15 per kilometer to cover the insurance cost and then a fixed rate of 7% on the remaining balance of payments.</p>
       </div>
      </div>

    </div>

  </body>
</html>
