<h1>Booking#index</h1>

<div class="container m-5">

  <h2>Check your booking details</h2>
  <br>
  <span class=""><%= "#{@car.user.firstname.capitalize}'s" %></span>
  <span class="lead"><%= "#{@car.make.capitalize} #{@car.model.capitalize}" %></span>
  <p>Located at <span class="lead"><%= @car.full_address %></span></p>
  <p>for 
    <span class="lead"><%= @car.price_per_day %></span></p>

  <%= @car.inspect %>
  <br>
  <br>
  <%= form_tag charges_path do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
    </article>

  <%= hidden_field_tag :car_id, @car.id %>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="A month's subscription"
            data-amount="<%= @car.price_per_day * 100 %>"
            data-locale="auto"></script>
  <% end %>

  <br>
  <br>

  <%= link_to 'Back', car_path(@car) %>

</div>
