<div class="">

</div>
  <table class="table mt-5">
    <tbody>
      <% if @guest %>
        <tr class="">
          <td class="lead align-middle"><%= booking.car.user.firstname %></td>
          <td><%= button_to 'message', conversations_path,
                  params: {booking_id: booking.id, guest: @guest},
                  class: "d-flex ml-auto btn btn-outline-success" %>
          </td>
        </tr>
      <% else %>
        <tr>
          <td class="lead align-middle"><%= booking.user.firstname %></td>
          <td><%= button_to 'message', conversations_path,
                  params: {booking_id: booking.id, guest: @guest},
                  class: "d-flex ml-auto btn btn-outline-success" %>
          </td>
        </tr>
      <% end %>
      <tr>
        <tr>
          <td>Car</td>
          <td><%= "#{booking.car.make} #{booking.car.model}" %></td>
        </tr>
      </tr>
      <tr>
        <td>Pick up date</td>
        <td><%= booking.date_from %></td>
      </tr>
      <tr>
        <td>Return date</td>
        <td><%= booking.date_to %></td>
      </tr>
      <tr>
        <td>Price per day</td>
        <td><%= number_to_currency(booking.price_per_day) %></td>
      </tr>
      <tr style="border-top: solid grey 2px;">
        <td class="d-flex justify-content-end pr-5">
          <strong>Sub-total</strong>
        </td>
        <% t1 = booking.price_per_day * (booking.date_to - booking.date_from).to_i %>
        <td><strong><%= number_to_currency(t1) %></strong></td>
      </tr>
      <tr>
        <td>Odometer reading - Start</td>
        <% if booking.odo_start %>
          <td><%= booking.odo_start %></td>
        <% else %>
          <% if @guest %>
            <td class="text-muted">Not yet entered by owner</td>
          <% else %>
            <td>
              <%= form_tag bookings_owner_bookings_path, method: :get, class: "form-inline" do %>
                <%= text_field_tag :odo_start, '', placeholder: "odo start", class: "form-control form-control-sm"  %>
                <%= hidden_field_tag :car_id, @car.id %>
                <%= hidden_field_tag :booking_id, booking.id %>
                <%= submit_tag "Submit", class: "btn btn-sm btn-primary ml-2" %>
              <% end %>
            </td>
          <% end %>
        <% end %>
      </tr>
      <tr>
        <td>Odometer reading - End</td>
        <% if booking.odo_end %>
          <td><%= booking.odo_end %></td>
        <% else %>
          <% if @guest %>
            <td class="text-muted">Not yet entered by owner</td>
          <% else %>
            <td>
              <%= form_tag bookings_owner_bookings_path, method: :get, class: "form-inline" do %>
                <%= text_field_tag :odo_end, '', placeholder: "odo end", class: "form-control form-control-sm"  %>
                <%= hidden_field_tag :car_id, @car.id %>
                <%= hidden_field_tag :booking_id, booking.id %>
                <%= submit_tag "Submit", class: "btn btn-sm btn-primary ml-2" %>
              <% end %>
            </td>
          <% end %>
        <% end %>
      </tr>
      <tr>
        <td>Price per km</td>
        <td><%= number_to_currency(booking.price_per_km) %></td>
      </tr>
      <tr style="border-top: solid grey 2px;">
        <td class="d-flex justify-content-end pr-5">
          <strong>Sub-total</strong>
        </td>
        <% if booking.odo_start && booking.odo_end %>
          <% t2 = booking.price_per_km * (booking.odo_end - booking.odo_start) %>
          <td><strong><%= number_to_currency(t2) %></strong></td>
        <% else %>
          <td>-</td>
        <% end %>
      </tr>
      <tr class="" style="border-top: solid grey 2px;">
        <td class="d-flex justify-content-end pr-5 lead">Total</td>
        <% if booking.odo_start && booking.odo_end %>
          <td class="lead"><%= number_to_currency(t1.to_i + t2.to_i) %></td>
        <% else %>
          <td>-</td>
        <% end %>
      </tr>
    </tbody>
  </table>
