<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :car_user_id %>
  </div>

  <div class="field">
    <%= form.label :make %>
    <%= form.text_field :make, id: :car_make %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, id: :car_model %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year, id: :car_year %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :car_location %>
  </div>

  <div class="field">
    <%= form.label :price_per_day %>
    <%= form.text_field :price_per_day, id: :car_price_per_day %>
  </div>

  <div class="field">
    <%= form.label :price_per_km %>
    <%= form.text_field :price_per_km, id: :car_price_per_km %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
