<%= form_with(model: car, local: true) do |form| %>

  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container d-flex justify-contents-center" style="width:200px;">
    <div class="mt-5">



    <%= form_tag new_car_path do %>
      <%= text_field_tag :make, '', placeholder: "Make", class: "mb-2 form-control form-control-sm"  %>
      <%= text_field_tag :model, '', placeholder: "Model", class: "mb-2 form-control form-control-sm"   %>
      <%= number_field_tag :year, '', placeholder: "Year", class: "mb-2 form-control form-control-sm"   %>
      <%= text_field_tag :full_address, '', placeholder: "Full Address", class: "mb-2 form-control form-control-sm"   %>
      <%= text_field_tag :price_per_day, '', placeholder: "Price per day", class: "mb-2 form-control form-control-sm"   %>
      <%= text_field_tag :price_per_km, '', placeholder: "Price per km", class: "mb-2 form-control form-control-sm"   %>
      <%= file_field_tag :image, class: "mb-2 form-control form-control-sm" %>
      <%= submit_tag "List it", class: "btn btn-sm btn-primary ml-2 form-inline" %>
    <% end %>
    </div>
  </div>

<% end %>
