<div class="ml-2" style="margin-top:100px;">


    <h1>Edit car details</h1>

    <%= form_for @car, class: "form-inline d-flex justify-content-center" do |f|%>

      <table class="table m-5" style="max-width:800px;">
        <tbody>
          <tr>
            <td><strong>Photo</strong></td>
            <td class="text-center"><%= @car.image_url(:medium) %></td>
            <td class="text-right"><%= f.file_field :image %></td>
          </tr>
          <tr>
            <td><strong>Make</strong></td>
            <td class="lead text-center"><%= @car.make %></td>
            <td class="text-right"><%= f.text_field :make, class: "form-control form-control-sm" %></td>
          </tr>
          <tr>
            <td><strong>Model</strong></td>
            <td class="lead text-center"><%= @car.model %></td>
            <td class="text-right"><%= f.text_field :model, class: "form-control form-control-sm" %></td>
          </tr>
          <tr>
            <td><strong>year</strong></td>
            <td class="lead text-center"><%= @car.year %></td>
            <td class="text-right"><%= f.text_field :year, class: "form-control form-control-sm" %></td>
          </tr>
          <tr>
            <td><strong>Price per day</strong></td>
            <td class="lead text-center"><%= number_to_currency(@car.price_per_day) %></td>
            <td class="text-right"><%= f.text_field :price_per_day, class: "form-control form-control-sm" %></td>
          </tr>
          <tr>
            <td><strong>Price per km</strong></td>
            <td class="lead text-center"><%= number_to_currency(@car.price_per_km) %></td>
            <td class="text-right"><%= f.text_field :price_per_km, class: "form-control form-control-sm" %></td>
          </tr>
          <tr>
            <td><strong>Located at</strong></td>
            <td class="text-center"><%= @car.full_address %></td>
            <td class="text-right"><%= f.text_field :full_address, class: "form-control form-control-sm" %></td>
          </tr>
        </body>
      </table>

      <div class="d-flex justify-content-between" style="width: 80vw;">
        <% if current_user.has_role? :admin %>
          <%= link_to "Back", cars_path(@car), class: "btn btn-dark", style: "color: white;" %>
        <% else %>
          <%= link_to "Back", bookings_owner_cars_path, class: "btn btn-dark", style: "color: white;" %>
        <% end %>
          <%= f.submit "Update", class: "btn btn-warning" %>
      </div>


    <% end %>

</div>
