<div class="ml-2" style="margin-top:100px; height: 100%;">

    <% if current_user.has_role? :admin %>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>User</th>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
            <th>Location</th>
            <th>Price per day</th>
            <th>Price per km</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @cars.each do |car| %>
            <tr>
              <td><%= image_tag car.image_url(:thumb) %></td>
              <td><%= car.user.email %></td>
              <td><%= car.make %></td>
              <td><%= car.model %></td>
              <td><%= car.year %></td>
              <td><%= car.full_address %></td>
              <td><%= car.price_per_day %></td>
              <td><%= car.price_per_km %></td>
              <td><%= button_to 'Show', bookings_new_path, method: :post, params: {car_id: car.id} %></td>
              <td><%= link_to 'Edit', edit_car_path(car) %></td>
              <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <%= link_to 'New Car', new_car_path %>
      <br>
    <% end %>

  <div class="m-2">
    <%= form_tag cars_path, method: :get, class: "form-inline mb-3" do %>
        <%= text_field_tag :user_location, '', placeholder: "Your location", class: "form-control", style: "width: 350px;" %>
        <%= submit_tag "Go", class: "btn btn-primary ml-2", style: "width: 90px;" %>
    <% end %>
  </div>

  <style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
      height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>

  <div id="map"></div>
    <script>
      var map;
      function initMap() {

        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: new google.maps.LatLng(<%= @latitude %>, <%= @longitude %>),
          mapTypeId: 'roadmap'
        });

        var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';

        var icons = {
          info: {
            icon: '/1x1.png'
          }
        };

        var features = [
          <% @cars.each do |car| %>
          {
            position: new google.maps.LatLng(<%= car.latitude %>, <%= car.longitude %>),
            icon: 'info',
            url: '/bookings/new',
            image: '<%= car.image %>',
            make: '<%= car.make %>',
            model: '<%= car.model %>',
            price_per_day: '<%= number_to_currency(car.price_per_day) %>',
            price_per_km: '<%= number_to_currency(car.price_per_km) %>',

          },
          <% end %>
        ];

        features.forEach(function(feature) {

          var contentString =
            '<div class="d-flex info-window" onclick="window.location=\''+feature.url+'\'">'+
              '<div class="mr-2">'+
                '<span class="">        <img style="width:70px;" src='+feature.image+'>    </span>' +
              '</div>'+
              '<div class="flex-columns">'+
                '<div class="mb-1">'+
                  '<span class="">      <strong>'+feature.make+'</strong>                  </span>'+
                  '<span class="">      <strong>'+feature.model+'</strong>                 </span>'+
                '</div>'+
                '<div class="text-success">'+
                  '<span class="">      '+feature.price_per_day+' <span>/day</span>        </span>'+
                  '<span class="ml-2">  '+feature.price_per_km+'  <span>/km</span>         </span>'+
                '</div>'+
              '</div>'+
            '</div>';

          var infowindow = new google.maps.InfoWindow({
           content: contentString
          });

          var marker = new google.maps.Marker({
            position: feature.position,
            map: map,
            icon: icons['info'].icon
          });
           infowindow.open(map, marker);
        });
      }
    </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSl2bo0vFAwrntL4R4GybQWzqHNSg8_9o&callback=initMap">
  </script>

</div>
