<p id="notice"><%= notice %></p>

<%= image_tag "#{@car.model.downcase}.jpeg" %>
<div>
  <p>
    <%= "#{@car.user.firstname.capitalize}'s" %>
  </p>
  <h3>
    <%= "#{@car.make.capitalize} #{@car.model}" %>
  </h3>
  <p>
    <%= @car.year %>
  </p>
  <p>
    <%= @car.full_address %>
  </p>
  <p>
    <%= number_to_currency(@car.price_per_day) %>
  </p>
  <p>
    <%= number_to_currency(@car.price_per_km) %>
  </p>
</div>

<%= button_to 'Book', booking_index_path, method: :get, params: {car_id: @car.id} %>
<%= link_to 'Back to cars', cars_path %>
