<p id="notice"><%= notice %></p>

<%= image_tag "#{@car.model.downcase}.jpeg" %>

<p>
  <%= @car.make %>
</p>

<p>
  <%= @car.model %>
</p>

<p>
  <%= @car.year %>
</p>

<p>
  <%= @car.full_address %>
</p>

<p>
  <%= number_to_currency(@car.price_per_day) %>
</p>

<p>
  <%= number_to_currency(@car.price_per_km) %>
</p>

<%= button_to 'Book', '/cars/book', method: :get, params: {car_id: @car.id} %>
<%= link_to 'Back', cars_path %>

<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
  </article>

<%= hidden_field_tag :car_id, @car.id %>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="<%= @car.price_per_day * 100 %>"
          data-locale="auto"></script>
<% end %>
